.carritoContainer {
  display: flex;
  gap: 20px;
  padding: 20px;
  flex-wrap: wrap;
}

.productosContainer {
  flex: 2;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.card {
  background-color: rgb(23,36,51);
  border-radius: 12px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImgContainer {
  width: 150px;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.card button {
  margin-top: auto;
  background-color: rgb(212, 99, 46);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  cursor: pointer;
}

.resumenContainer {
  flex: 1;
  background-color: rgb(23,36,51);
  padding: 20px;
  border-radius: 12px;
  color: white;
  min-width: 200px;
  height: fit-content;
}
.resumenButton {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(212, 99, 46);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

.resumenButton:hover {
  transform: scale(1.03);
  transition: transform 0.2s;
}
.carritoVacio {
    background-color: rgb(23,36,51);
    color:white;
    border-radius: 8%;
    padding: 16px 20px;
    font-weight: 500;
    text-align: center;
    font-size: 1rem;
    display: inline-block;
}