.header {
  display: flex;
  flex-direction: column;
  width: 100%;
  position:fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.headerTop{
  background-color: rgb(200, 191, 181);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  height: 180px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.logo img{
    width: 180px;
    height: auto;
    display: block;
}

.headerBottom {
  background-color: #172433;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 40px;
  box-sizing: border-box;
  width: 100%;
}

.navbarContainer {
  flex: 1;
  display: flex;
  justify-content: center;
}

.iconsContainer {
  display: flex;
  align-items: center;
  gap:15px;
}

.iconoDeCarrito {
  position: relative;
}

.contadorDeCarrito {
  position: absolute;
  top: -5px;
  right: -10px;
  background:rgb(212, 99, 46);
  color: white;
  padding: 2px 6px;
  border-radius: 50%;
  font-size: 10px;
  font-weight: bold;
}
